<a href="https://colab.research.google.com/github/darunrat/data_viz/blob/main/pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os
path = '/content/drive/My Drive/dataviz_2021'

In [4]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/dataviz_2021/pm-18-jan-2021.csv

In [5]:
data_covid = pd.read_csv(covid_file_path)
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

.isnull()??None?

In [6]:
data_covid.isnull()

         No.  announce_date  ...  district_of_onset   risk
0      False          False  ...               True  False
1      False          False  ...               True  False
2      False          False  ...              False  False
3      False          False  ...               True  False
4      False          False  ...               True  False
...      ...            ...  ...                ...    ...
12418  False          False  ...              False  False
12419  False          False  ...              False  False
12420  False          False  ...              False  False
12421  False          False  ...              False  False
12422  False          False  ...              False  False

[12423 rows x 10 columns]

.any() เอาค่าความจริงในภายในแต่ละ column and มากัน

.any() เอาค่าความจริงในภายในแต่ละ column OR มากัน

In [7]:
data_covid.isnull().any()

No.                      False
announce_date            False
notification_date         True
sex                       True
age                       True
nationality               True
province_of_isolation     True
province_of_onset         True
district_of_onset         True
risk                      True
dtype: bool

.all() เอาค่าความจริงในภายในแต่ละ column  มา AND กัน

In [8]:
data_covid.isnull().all()

No.                      False
announce_date            False
notification_date        False
sex                      False
age                      False
nationality              False
province_of_isolation    False
province_of_onset        False
district_of_onset        False
risk                     False
dtype: bool

In [ ]:
data_covid.iloc[0,0].isnull()

In [ ]:
data_covid['No'][0].isnull()

In [9]:
data_covid.iloc[0,0]

1

In [10]:
data_covid.iloc[:1,0].isnull()

0    False
Name: No., dtype: bool

##Hw สร้างตารางใหม่ ที่ค่าใน```sex``` เป็น  missing ทั้งหมด
-  สรุปว่าทำไม record นั้นๆถึงเป็น missing


#ต่อตารางแกน x แกน y
*  ต่อแกน x คือ เพิ่ม records (เพิ่มจำนวนข้อมูล) 
*   ต่อแกน y คือ เพิ่ม column (เพิ่มรายละเอียดของข้อมูล )

##ต่อแกน y pd.concat()

In [15]:
datakk = data_covid[data_covid['province_of_onset']=='ขอนแก่น']
datakk.head()

       No.  ...                                           risk
180    181  ...                                        สนามมวย
462    463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970  1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ

[5 rows x 10 columns]

In [17]:
dataUD = data_covid[data_covid['province_of_onset']=='อุดรธานี']
dataUD.head()

     No.  ...                                         risk
424  425  ...                                      สนามมวย
434  435  ...                                  สถานบันเทิง
471  472  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
883  884  ...                                  สถานบันเทิง
885  886  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[5 rows x 10 columns]

In [21]:
datams= data_covid[data_covid['province_of_onset']=='มหาสารคาม']
datams.head()

         No.  ...                                         risk
346      347  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
789      790  ...                                  สถานบันเทิง
6690    6691  ...                            Cluster สมุทรสาคร
10802  10803  ...                            Cluster สมุทรสาคร

[4 rows x 10 columns]

In [22]:
dataMYisan=pd.concat([datakk,dataUD,datams])
dataMYisan

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
424      425  ...                                        สนามมวย
434      435  ...                                    สถานบันเทิง
471      472  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
883      884  ...                                    สถานบันเทิง
885      886  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
941      942  ...                                    สถานบันเทิง
1059    1060  ...                  คนไทยเดินทางกลับจากต่างประเทศ
2013    2014  ...                  คนไทยเดินทางกลับจากต่างประเทศ
5810    5811  ...                              Cluster สมุทรสาคร
7433    7434  ...                                  Cluster ระยอง
346      347  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
789      790  ...                                    สถานบันเทิง
6690    6691  ...                              Cluster สมุทรสาคร
10802  10803  ...                              Cluster สมุทรสาคร

[28 rows x 10 columns]

In [25]:
pd.concat([datakk,dataUD,datams], ignore_index=True)

      No.  ...                                           risk
0     181  ...                                        สนามมวย
1     463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
2    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
3    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
4    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
5    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
6    5949  ...                              Cluster สมุทรสาคร
7    6083  ...                              Cluster สมุทรสาคร
8    9334  ...                           อยู่ระหว่างการสอบสวน
9    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11  11518  ...                           อยู่ระหว่างการสอบสวน
12  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
13  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
14    425  ...                                        สนามมวย
15    435  ...                                    สถานบันเทิง
16    472  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
17    884  ...                                    สถานบันเทิง
18    886  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
19    942  ...                                    สถานบันเทิง
20   1060  ...                  คนไทยเดินทางกลับจากต่างประเทศ
21   2014  ...                  คนไทยเดินทางกลับจากต่างประเทศ
22   5811  ...                              Cluster สมุทรสาคร
23   7434  ...                                  Cluster ระยอง
24    347  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
25    790  ...                                    สถานบันเทิง
26   6691  ...                              Cluster สมุทรสาคร
27  10803  ...                              Cluster สมุทรสาคร

[28 rows x 10 columns]

##ต่อแกน x


*  จับ 2 ตารางมาต่อกันเลย
* เลือกมาเพิ่มเฉพาะบาง column

In [29]:
data_province =data_covid[['No.','announce_date','province_of_onset']]
data_province

         No. announce_date province_of_onset
0          1     1/12/2020     กรุงเทพมหานคร
1          2     1/17/2020     กรุงเทพมหานคร
2          3     1/22/2020            นครปฐม
3          4     1/22/2020     กรุงเทพมหานคร
4          5     1/24/2020     กรุงเทพมหานคร
...      ...           ...               ...
12418  12419     1/18/2021       สมุทรปราการ
12419  12420     1/18/2021       สมุทรปราการ
12420  12421     1/18/2021            ชลบุรี
12421  12422     1/18/2021            ชลบุรี
12422  12423     1/18/2021             ระยอง

[12423 rows x 3 columns]

In [31]:
data_human =data_covid[['No.','age','sex','nationality']]
data_human

         No.   age   sex nationality
0          1  61.0  หญิง       China
1          2  74.0  หญิง       China
2          3  73.0  หญิง    Thailand
3          4  68.0   ชาย       China
4          5  66.0  หญิง       China
...      ...   ...   ...         ...
12418  12419  28.0  หญิง    Thailand
12419  12420  27.0  หญิง    Thailand
12420  12421  10.0   ชาย    Thailand
12421  12422  52.0   ชาย    Thailand
12422  12423  51.0   ชาย    Thailand

[12423 rows x 4 columns]

#แบบง่ายรู้ว่า 2 ตาราง record ตรงกัน

In [32]:
full_table1 =data_human.merge(data_province)
full_table1.head()

   No.   age   sex nationality announce_date province_of_onset
0    1  61.0  หญิง       China     1/12/2020     กรุงเทพมหานคร
1    2  74.0  หญิง       China     1/17/2020     กรุงเทพมหานคร
2    3  73.0  หญิง    Thailand     1/22/2020            นครปฐม
3    4  68.0   ชาย       China     1/22/2020     กรุงเทพมหานคร
4    5  66.0  หญิง       China     1/24/2020     กรุงเทพมหานคร

In [39]:
data_human2 =data_human.sort_values('age')
data_human2

         No.   age   sex nationality
1987    1988  0.10   ชาย    Thailand
6477    6478  0.11  หญิง    Thailand
11497  11498  0.11   ชาย       Burma
1675    1676  0.30   ชาย       Japan
1075    1076  0.40   ชาย    Thailand
...      ...   ...   ...         ...
12405  12406   NaN   NaN         NaN
12406  12407   NaN   NaN         NaN
12407  12408   NaN   NaN         NaN
12408  12409   NaN   NaN         NaN
12409  12410   NaN   NaN         NaN

[12423 rows x 4 columns]

In [40]:
full_table2 =data_human2.merge(data_province)
full_table2.head()

     No.   age   sex nationality announce_date province_of_onset
0   1988  0.10   ชาย    Thailand      4/4/2020             ระยอง
1   6478  0.11  หญิง    Thailand    12/30/2020          เพชรบุรี
2  11498  0.11   ชาย       Burma     1/16/2021         สมุทรสาคร
3   1676  0.30   ชาย       Japan      4/1/2020     กรุงเทพมหานคร
4   1076  0.40   ชาย    Thailand     3/27/2020      สุราษฎร์ธานี

#ต่อแกน x

## sort

In [43]:
data_human2_renamed=data_human2.rename(columns={'No.': 'patientNumber'})
data_human2_renamed.head()

       patientNumber   age   sex nationality
1987            1988  0.10   ชาย    Thailand
6477            6478  0.11  หญิง    Thailand
11497          11498  0.11   ชาย       Burma
1675            1676  0.30   ชาย       Japan
1075            1076  0.40   ชาย    Thailand

In [45]:
full_table3 =data_human2_renamed.merge(data_province,left_on='patientNumber',right_on='No.')
full_table3.head()

   patientNumber   age   sex nationality    No. announce_date province_of_onset
0           1988  0.10   ชาย    Thailand   1988      4/4/2020             ระยอง
1           6478  0.11  หญิง    Thailand   6478    12/30/2020          เพชรบุรี
2          11498  0.11   ชาย       Burma  11498     1/16/2021         สมุทรสาคร
3           1676  0.30   ชาย       Japan   1676      4/1/2020     กรุงเทพมหานคร
4           1076  0.40   ชาย    Thailand   1076     3/27/2020      สุราษฎร์ธานี

In [48]:
full_table3 =data_human2_renamed.merge(data_covid,how='left',left_on='age',right_on='age')
full_table3.head()

   patientNumber  ...                                         risk
0           1988  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1           6478  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
2           6478  ...                            Cluster สมุทรสาคร
3          11498  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
4          11498  ...                            Cluster สมุทรสาคร

[5 rows x 13 columns]

#map() เลือกมาเฉพาะบาง column

In [49]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [51]:
data_human2_renamed['detail'] = data_human2_renamed['patientNumber'].map(data_covid.set_index('No.')['risk'])
data_human2_renamed

       patientNumber  ...                                       detail
1987            1988  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
6477            6478  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11497          11498  ...                            Cluster สมุทรสาคร
1675            1676  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1075            1076  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
...              ...  ...                                          ...
12405          12406  ...                            Cluster สมุทรสาคร
12406          12407  ...                            Cluster สมุทรสาคร
12407          12408  ...                            Cluster สมุทรสาคร
12408          12409  ...                            Cluster สมุทรสาคร
12409          12410  ...                            Cluster สมุทรสาคร

[12423 rows x 5 columns]

คุณสมบัติ pandas ก็คือเราสามารถสร้าง column ใหม่ ให้ตาราง df ได้ โดย

```df['ชื่อ column ใหม่']==list ที่มีจำนวน record ของ df)```

In [52]:
data_human2_renamed.head()

       patientNumber  ...                                       detail
1987            1988  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
6477            6478  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11497          11498  ...                            Cluster สมุทรสาคร
1675            1676  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1075            1076  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[5 rows x 5 columns]

In [53]:
data_human2_renamed['num'] = range(data_human2_renamed.shape[0])
data_human2_renamed

       patientNumber   age  ...                                       detail    num
1987            1988  0.10  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้      0
6477            6478  0.11  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้      1
11497          11498  0.11  ...                            Cluster สมุทรสาคร      2
1675            1676  0.30  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้      3
1075            1076  0.40  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้      4
...              ...   ...  ...                                          ...    ...
12405          12406   NaN  ...                            Cluster สมุทรสาคร  12418
12406          12407   NaN  ...                            Cluster สมุทรสาคร  12419
12407          12408   NaN  ...                            Cluster สมุทรสาคร  12420
12408          12409   NaN  ...                            Cluster สมุทรสาคร  12421
12409          12410   NaN  ...                            Cluster สมุทรสาคร  12422

[12423 rows x 6 columns]

In [55]:
data_human2_renamed['patientNumber'].map(data_covid.set_index('No.')['risk']) #.map มันจะ ผูกค่า 'patientNumber' กับ 'No.' เข้าด้วยกันแล้ว return list ของค่า ['risk']
data_human2_renamed

       patientNumber   age  ...                                       detail    num
1987            1988  0.10  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้      0
6477            6478  0.11  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้      1
11497          11498  0.11  ...                            Cluster สมุทรสาคร      2
1675            1676  0.30  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้      3
1075            1076  0.40  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้      4
...              ...   ...  ...                                          ...    ...
12405          12406   NaN  ...                            Cluster สมุทรสาคร  12418
12406          12407   NaN  ...                            Cluster สมุทรสาคร  12419
12407          12408   NaN  ...                            Cluster สมุทรสาคร  12420
12408          12409   NaN  ...                            Cluster สมุทรสาคร  12421
12409          12410   NaN  ...                            Cluster สมุทรสาคร  12422

[12423 rows x 6 columns]



*   create pandas table
*